/* .show {
  display: block;
  transition: 800ms;
  opacity: 1;
  z-index: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotate(180deg);
  opacity: 0;
  z-index: 7;
} */

/* .popup {
  display: none;
  position: fixed;
  z-index: -6;
  background-color: burlywood;
} */

.active {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 199;
  background-color: rgb(144, 177, 182);
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 8px;
}
