/* rest styles */
* {
  box-sizing: border-box;
}

.header {
  margin-bottom: 0;
  height: 80px;
}

.main-title {
  color: whitesmoke;
  font-size: 50px;
  margin: 0;
}

.welcome-section-header {
  color: whitesmoke;
  margin-top: 0;
  font-style: italic;
}

.welcome-section {
  width: 50vw;
  height: 50vh;
  /* color: black; */
  background-color: white;
  margin: 120px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
}

#line-header {
  width: 160px;
}

.feed-container {
  margin: 0 200px;
  /* flex-basis: 100%; */
}

.main-feed {
  width: 40vw;
  height: 40vh;
  margin: auto;
  background-color: whitesmoke;
  color: black;
  border-radius: 15px;
}
