/* rest styles */
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 1300px;
}

.header {
  flex-basis: 25%;
  margin-bottom: 0;
  height: 80px;
}

.main-title {
  color: whitesmoke;
  font-size: 50px;
  margin: 0;
}

.feed-section {
  flex-basis: 60%;
  /* height: 200vh; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
}

.welcome-section-header {
  color: whitesmoke;
  margin-top: 0;
  font-style: italic;
}

#line-header {
  width: 160px;
}

.main-feed {
  width: 40vw;
  height: 60vh;
  margin: auto;
  color: black;
  border-radius: 15px;
}
