/* rest styles */
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.header {
  flex-basis: 45%;
  margin-bottom: 0;
  height: 80px;
}

.main-title {
  color: whitesmoke;
  font-size: 50px;
  margin: 0;
}

.welcome-section {
  flex-basis: 45%;
  width: 40vw;
  height: 60vh;
  /* color: black; */
  background-color: white;
  /* margin: 120px auto; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin-left: 500px; */
}

.welcome-section-header {
  color: whitesmoke;
  margin-top: 0;
  font-style: italic;
}

#line-header {
  width: 160px;
}

.feed-container {
  margin: 0 200px;
  /* flex-basis: 100%; */
  width: 40vw;
  height: 60vh;
  background-color: white;
}

.main-feed {
  width: 40vw;
  height: 60vh;
  margin: auto;
  color: black;
  border-radius: 15px;
}
