.post {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.post-box {
  width: 60vw;
  height: 60vh;
  /* overflow: scroll; */
}

#post-avatar {
  width: 80px;
  height: 80px;
}


.intersection-target {
  background-color: red;
  width: 30px;
  height: 30px;
}