.App {
  text-align: center;
  padding: 30px;
  background-color: rgb(152, 152, 152);
  height: 1000px;
}

.nav {
  padding: 15px;
  text-align: left;
  color: rgb(168, 168, 168);
}

.nav-item {
  display: inline;
  text-decoration: none;
  padding: 15px;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(31, 162, 195);
}

.link {
  color: whitesmoke;
}

.background-container {
  background-color: rgb(150, 150, 150);
}
